/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #333;
  line-height: 18px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  margin: 33px;
}
main {
  margin: 33px;
}
.outside {
  margin :33px;
}
.inside {
  margin :50px;
}
.notice {
  color: green;
  margin: 20px;
}
.error {
  border: solid 2px red;
}
.error1 {
  background-color: red;
  font-size: 16px;
  color: white;
  margin: 0;
  padding: 16px;
}
.error2 {
  margin: 10px;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}
h3 {
  font-size: 13px;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 33px;
}
h4 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.3em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}
p, ol, ul, td {
  margin: 33px;
}
p {
  font-size: 13px;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 33px;
}
th {
  padding-bottom: 5px;
}
td {
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px;
}